<!-- views/partials/header.ejs -->
<head>
<link rel="stylesheet" type="text/css" href=".././styles.css" />
<title>TinyApp</title>
</head>
<body>
    <div id='header'>
    <h1 class="title">TinyApp URL Shortener</h1>
        <% if (user_id === undefined) { %>
        <a href="/register">Register</a>
            <a href="/login">Login</a>
           <% } else { %>
           <div id="user">
           <form method="POST" action="/logout">
           <h2>Logged in as: <%= user_id.email %>
           <button type="submit" id="logout">Logout</button></h2>
           </form>
           </div>
           <% } %>
    </div>
</body>

