<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<body>
    <div>
        <a href="/register">Register</a>
        <% if (user_id === undefined) { %>
            <a href="/login">Login</a>
           <% } %>
    </div>
</body>

