<!-- views/partials/header.ejs -->
<head>
<link rel="stylesheet" type="text/css" href=".././styles.css" />
<title>TinyApp</title>
</head>
<body>
    <div id='header'>
        <% if (user_id === undefined) { %>
        <p><a href="/register">Register</a>
            <a href="/login">Login</a>
           <% } else { %>
           <h1>Logged in as: <%= user_id.email %>
           <form method="POST" action="/logout">
           <button type="submit">Logout</button>
           </form> </h1>
           <% } %>
        </p>
    </div>
</body>

