<!-- views/partials/header.ejs -->
<!-- views/partials/header.ejs -->
<title>TinyApp</title>
<body>
    <span>
        <a href="/register">Register</a>
        <% if (user_id === undefined) { %>
            <a href="/login">Login</a>
           <% } else { %>
           <form method="POST" action="/logout">
           <button type='submit'>Logout</button>
           </form>
           <% } %>
    </span>
</body>

