<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<table>
  <tr>
    <td>
      <form method="POST" action="/login">
      <input type=text name="username" value="" >
      <button type="submit">Login</button>
     </td>
    <td>
    <%= username %>
    </td>
   </tr>
</form>
</table>
