<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<body>
<h1>Login</h1>
  <form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type=email name="email" placeholder="Email Address" >
    <label for="password">Password:</label>
    <input type=password name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

