<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<body>
<h1>Register</h1>
<table>
  <tr>
    <td>
      <form method="POST" action="/register">
      <label for="email">Email:</label>
      <input type=email name="email" placeholder="Email Address" >
      <label for="password">Password:</label>
      <input type=password name="password" placeholder="Password">
      <button type="submit">Register</button>
      </form>
    </td>
   </tr>
</table>
