<!-- views/urls_new.ejs -->
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href=".././styles.css" />
</head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <button type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>
