<!-- views/urls_show.ejs -->
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1>Short URL: <%= shortURL %></h1>
  <table>
  <% for(var item in urls) { %>
  <%  if(item === shortURL) { %>
    <tr>
      <td> <form method="POST" action="<%= `/urls/${item}/update` %>" >
            <input type=text name="updatedUrl" id="updatedUrl" value=<%= urls[item] %> style="width: 300px"> </td>
      <td> <button type="submit">Update URL</button> </td></form>

    </tr>
  <% } %>
  <% } %>
  </table>
</body>
</html>