<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <table>
    <% for(var item in urls) { %>
      <tr>
        <td><%= item %></td>
        <td><%= urls[item] %></td>
      <td><form method="POST" action=<%= `/urls/${item}/delete` %>>
      <button type="submit">DELETE</button>
    </form></td>
      <tr>
      <% } %>
  </table>
  <p><a href='/urls/new'> Submit URL for shortening</a>
</body>
</html>
