<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for(var item in urls) { %>
      <li><%= urls[item] %></li>
      <% } %>
  </ul>
  <p><a href='#'> Submit URL for shortening</a>
</body>
</html>
