<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <h1>Short URL: <%= shortURL %></h1>
  <table>
    <tr>
  <% for(var item in urls) { %>
  <%  if(item === shortURL) { %>
    <td><%= urls[item] %> </td>
  <% } %>
  <% } %>
    <td><form method="POST" action=<%= `/urls/${item}/update` %>>
    <button type="submit">Update</button>

  </form></td>
    </tr>
  </table>
</body>
</html>