
html body {
  background-color: rgb(218, 226, 230);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 20px;
}

h1 {
  font-size: 2em;
  position: relative;
  padding: 20px;
}

h2 {
  position: relative;
  font-size: 1em;
  padding: 20px;
}

table  {
  width: 80%;
  display: table;
  border-collapse: separate;
  border-spacing: 25px;
  margin-left: 25px;
}

input {
  width: 400px;
  height: 35px;
  font-size: 16px;
}

button {
  background-color: #5589dd;
  border: none;
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 35px;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}

a {
  color: #5589dd;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

.link
{
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.title {
  width: 50%;
}

#user {
  margin-top: 0px;
  width: 40%;
  float: right;
  vertical-align: top
}

#logout {
  float: right;
}